Repository wantedPreOnboarding/19_05th_shop, pull requests merged in 2022-02, with the labels that each got.

#13 Style - Theme 컬러, 폰트 크기 추가
  components/common/TabMenu/TabMenu.styled.ts
  components/common/TabMenu/TabMenu.tsx
  styles/styled.d.ts
  styles/theme.ts
Labels: style

#19 [수임] Add - 전체 레이아웃 스타일링
  components/common/AppLayout/AppLayout.styled.ts
  components/common/AppLayout/AppLayout.tsx
  components/common/AppLayout/AppLayout.type.ts
  components/common/AppLayout/ChildrenContent/ChildrenContent.styled.ts
  components/common/AppLayout/ChildrenContent/ChildrenContent.tsx
  components/common/AppLayout/StatusBar/StatusBar.styled.ts
  components/common/AppLayout/StatusBar/StatusBar.tsx
  components/common/AppLayout/TitleBar/TitleBar.styled.ts
  components/common/AppLayout/TitleBar/TitleBar.tsx
  components/common/AppLayout/TitleBar/TitleBar.type.ts
  components/index.ts
  consts/constants.ts
  next.config.js
  pages/404.tsx
  pages/_app.tsx
  pages/brands/[category1Id].tsx
  pages/categories/[category2Id].tsx
  pages/contacts.tsx
  pages/index.tsx
  public/assets/back.svg
  public/assets/battery.svg
  public/assets/close.svg
  public/assets/fullBars.svg
  public/assets/hamburgerBtn.svg
  public/assets/location.svg
  public/assets/wifi.svg
Labels: enhancement, style

#22 Add - 탭 메뉴 공통 컴포넌트
  components/common/TabMenu/TabMenu.styled.ts
  components/common/TabMenu/TabMenu.tsx
  components/common/TabMenu/TabMenu.type.ts
Labels: enhancement, style

#25 Add 전체레이아웃 경로 변경, 홈관련 Api 요청 및 데이터 가공 , 홈관련 컴포넌트 스타일링 및 데이터 연결
  apis/consts.ts
  apis/models/Home.type.ts
  apis/requestAPIs/home.ts
  components/common/AppLayout/AppLayout.tsx
  components/common/index.ts
  components/index.ts
  components/mainHome/DiscountItem/DiscountItem.styled.ts
  components/mainHome/DiscountItem/DiscountItem.tsx
  components/mainHome/DiscountItem/DiscountItem.type.ts
  components/mainHome/MainCategories/MainCategories.styled.ts
  components/mainHome/MainCategories/MainCategories.tsx
  components/mainHome/MainCategories/MainCategories.type.ts
  components/mainHome/index.ts
  pages/404.tsx
  pages/api/core.ts
  pages/api/home.ts
  pages/brands/[category1Id].tsx
  pages/categories/[category2Id].tsx
  pages/contacts.tsx
  pages/index.tsx
Labels: enhancement, style

#27 [영종] Modify - API 수정
  apis/consts.ts
  apis/core.ts
  apis/requestAPIs/home.ts
  components/common/AppLayout/StatusBar/StatusBar.tsx
  components/common/AppLayout/TitleBar/TitleBar.tsx
  next.config.js
  package.json
  yarn.lock
Labels: enhancement

#29 Add - 사이드 메뉴 레이아웃, 탭 메뉴 라우터 이동 추가
  components/common/Menu/Menu.style.tsx
  components/common/Menu/Menu.tsx
  components/common/TabMenu/TabMenu.tsx
  components/common/index.ts
  public/assets/niconMoneyHistory.png
  public/assets/purchaseHistory.png
Labels: enhancement, style

#30 Add - 사이드바 슬라이드 기능 추가
  components/common/AppLayout/AppLayout.tsx
  components/common/AppLayout/SideMenu/SideMenu.style.tsx
  components/common/AppLayout/SideMenu/SideMenu.tsx
  components/common/AppLayout/SideMenu/SideMenu.type.ts
  components/common/AppLayout/TitleBar/TitleBar.styled.ts
  components/common/AppLayout/TitleBar/TitleBar.tsx
  components/common/AppLayout/TitleBar/TitleBar.type.ts
  components/common/index.ts
  components/index.md
Labels: enhancement, style

#31 [송현] Add - Brands SSR 기능 구현
  .github/ISSUE_TEMPLATE/defualt-issue-template.md
  .github/ISSUE_TEMPLATE/trubble.md
  apis/models/Brands.type.ts
  apis/models/Categories.type.ts
  apis/requestAPIs/brand.ts
  apis/requestAPIs/categories.ts
  components/brands/Brand/Brand.styled.ts
  components/brands/Brand/Brand.tsx
  components/category/Category.styled.ts
  components/category/Category.tsx
  components/category/Category.type.ts
  pages/brands/[category2Id].tsx
  pages/categories/Categories.styled.ts
  pages/categories/Categories.type.ts
  pages/categories/[category1Id].tsx
  pages/categories/[category2Id].tsx
Labels: documentation, style

#32 [송현] Modify - 폴더 이동
  components/common/Category/Category.styled.ts
  components/common/Category/Category.tsx
  components/common/Category/Category.type.ts
  pages/brands/[category2Id].tsx
  pages/categories/[category1Id].tsx
Labels: documentation

#35 [수임] Add -메인 카테고리, 카드 공통 컴포넌트로 변경 및 props 타입 수정 , 배너 슬라이드 기능 구현 및 스타일링
  apis/models/Home.type.ts
  components/common/AppLayout/AppLayout.styled.ts
  components/common/AppLayout/ChildrenContent/ChildrenContent.styled.ts
  components/common/AppLayout/StatusBar/StatusBar.styled.ts
  components/common/AppLayout/TitleBar/TitleBar.styled.ts
  components/common/Category/Category.styled.ts
  components/common/Category/Category.tsx
  components/common/ItemThumbnail/DescThumbnail/DescThumbnail.tsx
  components/common/ItemThumbnail/ItemThumbnail.styled.ts
  components/common/ItemThumbnail/ItemThumbnail.tsx
  components/common/ItemThumbnail/ItemThumbnail.type.tsx
  components/index/BannerSlider/BannerSlider.styled.ts
  components/index/BannerSlider/BannerSlider.tsx
  components/index/BannerSlider/BannerSlider.type.ts
  components/index/DiscountItem/DiscountItem.styled.ts
  components/index/DiscountItem/DiscountItem.tsx
  components/index/DiscountItem/DiscountItem.type.ts
  components/index/MainCategories/MainCategories.styled.ts
  components/index/MainCategories/MainCategories.tsx
  components/index/MainCategories/MainCategories.type.ts
  components/index/index.ts
  components/index/index.type.ts
  components/mainHome/DiscountItem/DiscountItem.styled.ts
  components/mainHome/DiscountItem/DiscountItem.tsx
  components/mainHome/MainCategories/MainCategories.styled.ts
  next.config.js
  pages/categories/Categories.styled.ts
  pages/index.tsx
  styles/styled.d.ts
Labels: enhancement, style

#38 [수임] Add - 날짜포맷팅 util 추가
  components/common/ItemThumbnail/DescThumbnail/DescThumbnail.tsx
  components/index/DiscountItem/DiscountItem.tsx
  components/index/MainCategories/MainCategories.tsx
  pages/items/[conItemId].tsx
  styles/theme.ts
  uilts/index.ts
  utils/commaNumber.test.ts
  utils/commaNumber.ts
  utils/dateFormatting.test.ts
  utils/dateFormatting.ts
  utils/index.ts
Labels: enhancement

#39 [송현] Add - 브랜드 리스트 아이템 기능 구현
  README.md
  apis/models/Categories.type.ts
  components/common/Category/Category.tsx
  components/common/Category/Category.type.ts
  components/index/MainCategories/MainCategories.tsx
  pages/brands/Brands.styled.ts
  pages/brands/[category2Id].tsx
  pages/brands/brands.type.ts
  pages/categories/[category1Id].tsx
Labels: documentation

#40 Add 배너 TouchStart,TouchEnd 추가
  components/common/AppLayout/AppLayout.tsx
  components/index/BannerSlider/BannerSlider.tsx
  components/index/BannerSlider/BannerSlider.type.ts
  pages/index.tsx
  public/favicon.ico
Labels: enhancement

#42 Add - 고객센터 tabBar 메뉴 컴포넌트 연결
  apis/models/Contacts.type.ts
  apis/requestAPIs/categories.ts
  apis/requestAPIs/contacts.ts
  components/common/TabMenu/TabMenu.tsx
  components/common/TabMenu/TabMenu.type.ts
  components/contacts/ContactContents/ContactContents.style.ts
  components/contacts/ContactList/ContactList.tsx
  pages/categories/Categories.type.ts
  pages/categories/[category1Id].tsx
  pages/contacts/index.tsx
Labels: enhancement

#44 Modify 타이틀바 뒤로가기 방식 링크에서 라우터로 변경, 전체 레이아웃 수정
  components/common/AppLayout/AppLayout.tsx
  components/common/AppLayout/TitleBar/TitleBar.styled.ts
  components/common/AppLayout/TitleBar/TitleBar.tsx
  components/common/AppLayout/TitleBar/TitleBar.type.ts
  components/common/ItemThumbnail/ItemThumbnail.styled.ts
  components/index/DiscountItem/DiscountItem.styled.ts
  pages/brands/Brands.styled.ts
  pages/brands/[category2Id].tsx
  pages/items/[conItemId].tsx
  utils/index.ts
  utils/tensDigit.test.ts
  utils/tensDigit.ts
Labels: enhancement, style
